<div class="container">
    <p-card>
      <form #form="ngForm" autocomplete="off" (ngSubmit)="saveOrUpdate(form)">
        <div class="ui-g">
            <div class="ui-g-12">
              <h1>{{title}} Empresa </h1>
              <h4> {{company | json}} </h4>
            </div>
          <p-tabView class="tabview-align-left">
              <p-tabPanel header="Geral" leftIcon="fa-calendar">
                <div class="ui-g-9 ui-sm-12 ui-fluid">
                  <label>Nome</label>
                  <input pInputText type="text" name="name" [(ngModel)]="company.name" #nome="ngModel" required minlength="3" maxlength="50">
                </div>
                <div class="ui-g-3 ui-sm-12 ui-fluid">
                  <label>Inscrição</label>
                  <p-inputMask name="inscription" mask="99.999.999/9999-99" [(ngModel)]="company.inscription" #inscription="ngModel" required></p-inputMask>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-fluid">
                  <label>Data Cadastro</label>
                  <p-calendar pInputText dateFormat="dd/mm/yy" name="dateAdded" [(ngModel)]="company.dateAdded" #dateAdded="ngModel"  disabled></p-calendar>
                </div>
                <div class="ui-g-6 ui-sm-12 ui-fluid">
                  <label>Data Última Att.</label>
                  <p-calendar pInputText dateFormat="dd/mm/yy"  name="dateUpdate" [(ngModel)]="company.dateUpdate" #dateUpdate="ngModel" disabled></p-calendar>
                </div>
                <!--<div class="ui-g-12">-->
                  <!--<p-selectButton name="active" [options]="tipos" [(ngModel)]="company.active" #active></p-selectButton>-->
                <!--</div>-->
              </p-tabPanel>
            <p-tabPanel header="Endereço">
              <div class="ui-g-6 ui-sm-12 ui-fluid">
                <label>Logradouro</label>
                <input pInputText type="text" name="street" [(ngModel)]="company.address.street" #nome="ngModel" required minlength="3" maxlength="50">
              </div>
              <div class="ui-g-6 ui-sm-12 ui-fluid">
                <label>Bairro</label>
                <input pInputText type="text" name="district" [(ngModel)]="company.address.district" #district="ngModel" required minlength="3" maxlength="20">
              </div>
              <div class="ui-g-3 ui-sm-12 ui-fluid">
                <label>Number</label>
                <input pInputText type="text" name="number" [(ngModel)]="company.address.number" #number="ngModel" required minlength="1" maxlength="10">
              </div>
              <div class="ui-g-3 ui-sm-12 ui-fluid">
                <label>CEP</label>
                <p-inputMask name="cep" mask="99.999-999"  [(ngModel)]="company.address.cep" #cep="ngModel" required minlength="10" maxlength="10"></p-inputMask>
              </div>
              <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Cidade</label>
                <p-dropdown name="pessoa" [options]="counties" placeholder="Selecione" [autoWidth]="false" [filter]="true" [(ngModel)]="company.address.county.id" required emptyFilterMessage="Sem Resultado"></p-dropdown>
              </div>

            </p-tabPanel>
          </p-tabView>
          <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
            <button pButton type="submit" label="Cancelar" (click)="cancel()"></button>
          </div>
        </div>
      </form>
    </p-card>
</div>

