/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
    margin-top: 8%;
  }
}

.ui-tabview .ui-tabview-panel {
  padding: 10px 0px !important;
}
.ui-fluid .ui-inputtext {
  margin-top: 5px;
}

html{
  background-color: #f1f1f1;
}
